$navbar-bg-color: #d2b48c;
$navbar-text-color: #824707;
$navbar-hover-color: #493015;
$navbar-transition: 0.3s ease;
$navbar-height: 9vh;
$navbar-shrink-height: 6vh;
$navbar-small-height: 6vh;
$navbar-small-shrink-height: 4vh;
$hamburger-font-size: 2rem;
$nav-link-font-size: 1.2rem;
$nav-link-hover-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

$font-family: Arial, sans-serif;
$hero-bg-color: #cdae8f57;
$hero-text-color: #6c3b07;
$about-bg-color: #e6d3b1;
$gelato-bg-color: #f4e8d1;
$pastries-bg-color: #e6d3b1;
$contact-bg-color: #d2b48c;
$contact-text-color: #6c3b07;
$confined-text-color: #6c3b07;
$section-padding: 50px 20px;
$hero-padding: 100px 20px;
$image-border-radius: 10px;

$button1-bg-color: #824707;
$button1-hover-color: #8247079d;
