@import 'variables';

#root,
.home {
  margin: 0;
  padding: 0;
  background-color: $content-bg-color;
  width: 100%;
  box-sizing: border-box;
  min-height: 100vh;
}

img {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

h1,
h2,
h3 {
  color: $hero-h1-color;
}

.no-underline {
  text-decoration: none;
}

.center-table {
  margin: 0 auto;
  padding-top: 0.5rem;
}

.home {
  font-family: $font-family;
  text-align: center;
}

.hero {
  background-color: $hero-bg-color;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 1rem 0;
}

.hero h1 {
  font-size: 3.5rem;
  color: $hero-h1-color;
}

.hero .text {
  flex: 1;
  font-size: 1.4rem;
  color: $hero-text-color;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}

.hero .image {
  flex: 1;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero .hero-button {
  position: relative;
  top: 15px;
  background-color: $button1-bg-color;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.25rem;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $button1-hover-color;
  }
}

.button-container {
  display: flex;
  gap: 10px;
}

.carousel-root,
.carousel,
.carousel-slider {
  width: 100%;
  height: 100%;
}

.about {
  background-color: $about-bg-color;
  padding: 50px 0px;
  max-width: 800px;
  border-radius: 1.25rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  text-align: left;
  margin: 10rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .about-title {
    margin-left: 0.5rem;
    font-size: 3rem;
  }

  .text {
    width: 80%;
    font-size: 1.2rem;
    box-sizing: border-box;
    color: $hero-text-color;
  }

  p {
    margin-left: 0.5rem;
  }
}

.gelato,
.pastries {
  display: flex;
  align-items: center;
  padding: $section-padding;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  max-height: 35vh;
  overflow: hidden;
}

.gelato .text,
.pastries .text,
.gelato .image,
.pastries .image {
  flex: 1 1 50%;
  box-sizing: border-box;
  opacity: 0;
  transform: translateX(0);
  transition:
    opacity 0.5s ease-out,
    transform 0.5s ease-out;
}

.gelato .image img,
.pastries .image img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

.gelato {
  background-color: $gelato-bg-color;
}

.pastries {
  background-color: $pastries-bg-color;
}

.text {
  padding: 20px;
  color: $hero-text-color;
  box-sizing: border-box;

  h2 {
    margin-bottom: 10px;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .confined-text {
    width: 70%;
    margin: 0 auto;
  }
}

.image {
  box-sizing: border-box;
}

.gelato-pastries {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 2rem 0;
  gap: 0rem;
}

.gelato-pastries .item {
  text-align: center;
  max-width: 35%;
}

.gelato-pastries .image {
  margin-bottom: 1rem;
}

.circle-image {
  width: 20rem; /* Increase the size of the images */
  height: 20rem; /* Increase the size of the images */
  border-radius: 50%;
  object-fit: cover;
}

.confined-text {
  margin: 0 auto;
  max-width: 80%;
}

.footer {
  background-color: $contact-bg-color;
  color: $contact-text-color;
  padding: $section-padding;
  width: 100%;
  box-sizing: border-box;

  .contact-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .contact-info,
  .location-info {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
  }
}

.footer p {
  margin: 5px 0;
}

.hours-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hours-day {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.hours-day p {
  margin: 0;
}

.cake-section {
  display: flex;
  align-items: center;
  padding: $section-padding;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  max-height: 70vh;
  overflow: hidden;

  .catering {
    flex: 1 1 50%;
    box-sizing: border-box;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .form-group {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 15px;
      width: 100%;
      max-width: 400px;
    }

    label {
      text-align: center;
      margin-bottom: 5px;
      font-weight: bold;
    }

    input,
    textarea {
      width: 90%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1rem;
      color: #333;
      background-color: #fff;
    }

    button {
      background-color: $button1-bg-color;
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 1rem;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
  }
}

.catering form button:hover {
  background-color: $button1-hover-color;
}

@media (max-width: 425px) {
  .hero {
    height: 92.5vh;
  }

  .hero-content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero .text {
    font-size: 1rem;
    text-align: left;
    width: 100%;
    max-width: 90%;
  }

  .about .text {
    width: 100%;
    max-width: 100%;
  }

  .hero .hero-button {
    font-size: 1rem;
    padding: 10px 20px;
    margin-bottom: 3rem;
  }

  .hero .text,
  .hero .image {
    width: 100%;
    padding: 0;
  }

  .hero .image {
    order: 1;
  }

  .hero .text {
    order: 2;
  }

  .hero .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gelato-pastries {
    flex-direction: column;
    gap: 5rem;
  }

  .gelato-pastries .item {
    max-width: 100%;
  }

  .text .confined-text {
    width: 90%;
  }

  .gelato,
  .pastries {
    flex-direction: column;
    height: auto;
    max-height: 100vh;
  }

  .gelato .text,
  .pastries .text,
  .gelato .image,
  .pastries .image {
    order: initial;
    height: auto;
    width: 100%;
  }

  .gelato .text {
    order: 1;
    padding-bottom: 5%;
  }

  .gelato .image {
    order: 2;
  }

  .pastries .text {
    order: 1;
    padding-bottom: 5%;
  }

  .pastries .image {
    order: 2;
  }

  .image,
  .text {
    padding: 0;
    box-sizing: border-box;
  }

  .gelato .image img,
  .pastries .image img {
    width: 100%;
    height: auto;
  }

  .map-catering {
    flex-direction: column;
    height: auto;
    max-height: 100vh;
  }

  .map-catering .catering,
  .map-catering .map-container {
    order: initial;
    height: auto;
    width: 100%;
  }

  .map-catering .catering {
    order: 1;
    padding-bottom: 5%;
  }

  .map-catering .map-container {
    order: 2;
  }

  .catering.text {
    max-width: 95%;
    margin: 0 auto;
  }

  .contact-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contact-info,
  .location-info {
    width: 100%;
    padding: 10px 0;
  }

  .hours-info {
    width: 100%;
    padding: 0;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.gelato .image.animate {
  animation: slideInFromRight 1s ease-out forwards;
}

.pastries .image.animate {
  animation: slideInFromLeft 1s ease-out forwards;
}

.gelato .text.animate {
  animation: slideInFromLeft 1s ease-out forwards;
}

.pastries .text.animate {
  animation: slideInFromRight 1s ease-out forwards;
}
