@import 'variables';

#root,
.home {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.home {
  font-family: $font-family;
  text-align: center;
}

.hero {
  background-color: $hero-bg-color;
  color: $hero-text-color;
  padding: $hero-padding;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.about {
  background-color: $about-bg-color;
  padding: $section-padding;
  width: 100%;
  box-sizing: border-box;

  .about-content {
    width: 50%;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

.gelato,
.pastries {
  display: flex;
  align-items: center;
  padding: $section-padding;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  max-height: 35vh;
  overflow: hidden;
}

.gelato .text,
.pastries .text,
.gelato .image,
.pastries .image {
  flex: 1 1 50%;
  box-sizing: border-box;
  opacity: 0;
  transform: translateX(0);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.gelato .image img,
.pastries .image img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

.gelato {
  background-color: $gelato-bg-color;
}

.pastries {
  background-color: $pastries-bg-color;
}

.text {
  padding: 20px;
  color: $confined-text-color;
  box-sizing: border-box;

  h2 {
    margin-bottom: 10px;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .confined-text {
    width: 70%;
    margin: 0 auto;
  }
}

.image {
  box-sizing: border-box;
}

.footer {
  background-color: $contact-bg-color;
  color: $contact-text-color;
  padding: $section-padding;
  width: 100%;
  box-sizing: border-box;

  .contact-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .contact-info,
  .location-info {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
  }
}

.footer p {
  margin: 5px 0;
}

.hours-info {
  display: flex;
  flex-direction: column;
}

.hours-day {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.hours-day p {
  margin: 0;
}

.map-container {
  position: relative;
}

.map-overlay {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  pointer-events: none;
  z-index: 1000;
}

@media (max-width: 768px) {

  .gelato,
  .pastries {
    flex-direction: column;
  }

  .image,
  .text {
    padding: 10px;
    box-sizing: border-box;
  }

  .contact-content {
    flex-direction: column;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.gelato .image.animate {
  animation: slideInFromRight 1s ease-out forwards;
}

.pastries .image.animate {
  animation: slideInFromLeft 1s ease-out forwards;
}

.gelato .text.animate {
  animation: slideInFromLeft 1s ease-out forwards;
}

.pastries .text.animate {
  animation: slideInFromRight 1s ease-out forwards;
}