@import 'variables';

.order-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  text-align: center;
  background-color: $about-bg-color;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  margin: 50px auto;
}

.order-page h1 {
  font-family: 'Coiny', 'Open Sans', sans-serif;
  font-size: 2.5rem;
  color: $hero-text-color;
  margin-bottom: 20px;
}

.order-page p {
  font-size: 1.2rem;
  color: $hero-text-color;
  margin-bottom: 20px;
}

.order-summary {
  border-radius: 10px;
  border-color: $hero-text-color;
  border-width: 1px;
  border-style: solid;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
  width: 100%;
  max-width: 500px;
}

.order-summary h2 {
  font-family: 'Coiny', 'Open Sans', sans-serif;
  font-size: 1.8rem;
  color: $hero-text-color;
  margin-bottom: 15px;
}

.order-summary ul {
  list-style: none;
  padding: 0;
}

.order-summary li {
  font-size: 1rem;
  color: $hero-text-color;
  margin-bottom: 10px;
  text-align: left;
}

.order-summary li strong {
  font-weight: bold;
}

.order-button {
  background-color: $button1-bg-color;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 25px;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 20px;

  &:hover {
    background-color: $button1-hover-color;
    transform: scale(1.05);
  }
}

@media print {
  body {
    background-color: white;
    color: black;
  }

  .navbar {
    display: none;
  }

  .print-hide {
    display: none;
  }

  .order-page {
    padding: 20px;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
  }

  .order-summary {
    display: block !important;
    box-shadow: none;
    border-width: 0;
    border-radius: 0;
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
  }

  .order-summary h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .order-summary ul {
    list-style: none;
    padding: 0;
  }

  .order-summary li {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .order-button {
    display: none; // Hide buttons during printing
  }
}
